* {
    font-family: 'Droid Sans', sans-serif;
    font-style: normal;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

.navbar {
    margin-bottom: 0px;
    background: #801089;
}

a {
    color: #fff;
}

em {
    display: block;
    text-align: right;
}

#footer {
    background: #801089;
    color: #fff;
    font-size: 10px;
}

#footer2 {
    padding: 0px;
}

h1 {
    display: block;
    text-align: center;
    margin-top: 50px;
    color: #801089;
}

h2 {
    display: block;
    text-align: center;
}

#email {
    color: #fff;
}

.dropdown-menu>li>a {
    background: #801089;
    color: #fff;
}




#parent {
    line-height: 240px;
}
#parent img {
    vertical-align: middle;
}





@media (min-width: 768px) {
    .col-sm-12 {
        padding: 0px;
    }

}
