* {
    font-family: 'Droid Sans', sans-serif;
    font-style: normal;
    margin: 0;
    padding: 0;
}

.navbar {
    margin-bottom: 0px;
    background: #801089;
}

a {
    color: #fff;
}

em {
    display: block;
    text-align: right;
}

#footer, #footer3 {
    background: #801089;
    color: #fff;
    font-size: 16px;
}

#footer2, #footer4 {
    padding: 0px;
    background: #801089;
    color: #fff;
    font-size: 16px;
}

h1 {
    display: block;
    text-align: center;
    margin-top: 50px;
    color: #801089;
}

h2 {
    display: block;
    text-align: center;
}

body {
    font-size: 18px;
}

#email {
    color: #fff;
}

.dropdown-menu>li>a {
    background: #801089;
    color: #fff;
}




#parent {
    line-height: 240px;
}
#parent img {
    vertical-align: middle;
}

#name {
    text-align: center;
}

.thumbnail {
    padding-top: 45px;
    margin-top: 20px;
}

#avtor {
    background: #000;
    color: #fff;
    text-align: center;
    font-size: 14px;
}

#cont {
    color: #000;
    font-size: 18px;
    text-align: center;
}

#footer2, #footer4 {
        text-align: center;
    }

#slider {
    padding-right: 0px;
    padding-left: 0px;}



span {
    font-weight: bold;
}


/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
    .col-sm-12 {
        padding: 0px;
    }

    .center-block {
        padding-top: 20px;
    }
}



/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {

}
