* {
    font-family: 'Droid Sans', sans-serif;
    font-style: normal;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

.navbar {
    margin-bottom: 0px;
}

a {
    color: #801089;
}

em {
    display: block;
    text-align: right;
}

#footer {
    background: #801089;
    color: #fff;
    font-size: 10px;
}
